body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

:root {
  --cloud-color: #f4f4fd;
  --navy-color: #2e2f42;
  --white-color: #ffffff;
}

/*Header container*/

.nav {
  text-decoration: none;
}
.logo.link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-text {
  color: #2e2f42;
}

.page-nav .link {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--navy-color);
  list-style: none;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list .link {
  color: var(--slate, #434455);
}
.address-list .link:hover,
.address-list .link:focus {
  color: #404bbf;
}

.address-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  list-style: none;
  color: #434455;
}

.link {
  text-decoration: none;
}

/*Solutions for bussiness*/

.effective-solutions {
  background-color: #2e2f42;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button-service {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
}
.button-text {
  color: #fff;
}

.button-service:hover {
  background-color: #404bbf;
}

/*Business characteristics*/

.business {
  background-color: #ffffff;
}
.business-list {
  list-style: none;
}

.business-item {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

.about-business {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #2e2f42;
}

.business-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
}

/*Our work*/
.work {
  background-color: #ffffff;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.work-list {
  list-style: none;
}

/*Team*/
.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*Footer*/
.page-footer {
  background-color: #2e2f42;
}

.footer-logo-text {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud, #f4f4fd);
}

/*Button*/

.button-scheme {
  background-color: #ffffff;
}

.button-color {
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
}
.button-color:hover {
  background-color: #404bbf;
}

.button-style {
  background-color: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
}

/*Project card*/

.projects {
  background-color: #ffffff;
}

.project-list {
  list-style: none;
}

.project-item {
  background-color: var(--white-color, #fff);
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  initial-letter: 0.02em;
  color: #2e2f42;
}

.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
